---
import Express from "./icons/tags/Express.astro";
import Mysql from "./icons/tags/Mysql.astro";
import React from "./icons/tags/React.astro";
import JavaScript from "./icons/tags/JavaScript.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-black text-white",
    icon: Express,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-black text-white",
    icon: Mysql,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
};
const PROJECTS = [
  {
    title: "ticketPro",
    description:
      "Created from scratch with React | JavaScript | Express | MySQL. It's an e-commerce that sells tickets for events",
    link: "",
    github: "https://github.com/PatFras/grupo_3_ticketPro",
    image: "/projects/ticketPro.webp",
    tags: [TAGS.REACT, TAGS.JAVASCRIPT, TAGS.EXPRESS, TAGS.MYSQL],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
